body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: left;
    gap: 0; /* Remove gap if you want links touching */
    background-color: #154734;
    justify-content: center;
    width: 100vw;
}
nav a {
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-size: 1rem;
    background-color: #154734;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: background-color 0.2s;
}

nav a:not(.activePage):hover {
    background-color: hsl(157 54% 30% / 1);
}

.activePage {
    background-color: white;
    color: black;
}

h1 {
    padding: 0 1% 0 1%
}

img {
    width: 90%;
    margin: 0 5%;
}
